/* Combobox properties. */

ComboBox{
    -fx-background-color: rgba(255, 62, 52, 0.61);
}
/*
BorderPane{
    -fx-background-color: linear-gradient(rgb(33, 108, 51), rgb(17, 77, 26));
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-image: url("../tests/reversi.jpg");
    -fx-background-size: auto 100%;
}
*/

/* Main Title text. */

Label#mainTitle{
    -fx-font-size: 62;
    -fx-font-family: 'Helvetica Neue', monospace;
    -fx-text-alignment: center;
}

/* Generic properties for text. */

TextFlow{
    -fx-background-color: linear-gradient(rgb(33, 108, 51), rgb(17, 77, 26));
    -fx-text-alignment: center;
    -fx-column-halignment: center;
    -fx-padding: 0.5em;
    -fx-font-family: 'Helvetica Neue', monospace;
}

/* Properties for buttons in application. */

Button {
    -fx-font-size: 2em;
    -fx-font-family: 'Helvetica Neue', monospace;
    -fx-background-color: linear-gradient(rgb(60, 198, 93), rgb(24, 103, 34));
    -fx-padding: 0.5em;
    -fx-border-insets: 1, 1, 1, 1;
    -fx-background-insets: 2, 2, 2, 2;
}

/* Light up effect for buttons when you hover over. */

.button:hover {
    -fx-background-color: linear-gradient(rgb(72, 255, 108), rgb(18, 97, 27));
}

/* Gameboard */

Cell#gameBoardCell{
    -fx-border-color: black;
    -fx-background-color: green;
    -fx-pref-width: 100;
    -fx-pref-height: 100;
}

/* Alignment for HBox in gameView */

HBox#gameViewWindow {
    -fx-alignment: CENTER;
}

