ComboBox{
    -fx-background-color: rgba(255, 62, 52, 0.61);
}

BorderPane{
    -fx-background-color: linear-gradient(rgb(33, 108, 51), rgb(17, 77, 26));
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-image: url("../tests/reversi.jpg");
    -fx-background-size: auto 100%;
}

Label#mainTitle{
    -fx-font-size: 62;
    -fx-font-family: 'Helvetica Neue', monospace;
    -fx-text-alignment: center;
}

TextFlow{
    -fx-background-color: linear-gradient(rgb(33, 108, 51), rgb(17, 77, 26));
    -fx-text-alignment: center;
    -fx-column-halignment: center;
    -fx-padding: 0.5em;
    -fx-font-family: 'Helvetica Neue', monospace;
}

Button {
    -fx-font-size: 2em;
    -fx-font-family: 'Helvetica Neue', monospace;
    -fx-background-color: linear-gradient(rgb(60, 198, 93), rgb(24, 103, 34));
    -fx-padding: 0.5em;
    -fx-border-insets: 1, 1, 1, 1;
    -fx-background-insets: 2, 2, 2, 2;
}

.button:hover {
    -fx-background-color: linear-gradient(rgb(72, 255, 108), rgb(18, 97, 27));
}

Cell#gameBoardCell{
    -fx-border-color: black;
    -fx-background-color: green;
}

HBox#gameViewWindow {
    -fx-alignment: CENTER;
}

